<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>OTP Verification</title>
    <meta name="description" content="Crave Sign up Password.">
</head>

<body>
    Your Verification OTP For <%= APP_NAME %> : <span
    style="color: #42e7f3; font-size: 28px;">
    <%= OTP %>
</span>
</body>

</html>